<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
  <a class="navbar-brand p-2" href="#">To-Do-List</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav p-2">
      <a class="nav-item nav-link" routerLink="/signup">Signup </a>
      <a class="nav-item nav-link" routerLink="/logIn">Login</a>
    </div>
  </div>
</nav>

<div class="p-5">
  <h1>DASHBOARD</h1>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
