<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
  <a class="navbar-brand p-2" href="#">To-Do-List</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav p-2">
      <a class="nav-item nav-link" routerLink="/signup">Signup </a>
      <a class="nav-item nav-link active" routerLink="/logIn">Login</a>
    </div>
  </div>
</nav>
<div class="wraper text-black">
  <div class="row">
    <div class="col-lg-6">
      <img
        class="img m-5 rounded shadow"
        src="https://wallpapercave.com/wp/wp7881177.jpg"
      />
    </div>
    <div class="col-lg-6 p-3">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-5">
        <div class="form-group">
          <label for="email" name="email"><b>Email address</b></label>
          <input
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter email"
            required
          />
          <div
            *ngIf="
              loginForm.controls.email.errors &&
              (loginForm.controls.email.dirty ||
                loginForm.controls.email.touched)
            "
            class="bg-transparent"
          >
            <div class="alert_font" [hidden]="!loginForm.controls.email.errors">
              Please enter a valid email.
            </div>
          </div>
          <div>
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <br />
          <div class="form-group">
            <label for="password"><b>Password</b></label>
            <input
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Password"
              required
            />
            <div
              *ngIf="
                loginForm.controls.password.errors &&
                (loginForm.controls.password.dirty ||
                  loginForm.controls.password.touched)
              "
              class="bg-transparent"
            >
              <div
                class="alert_font"
                [hidden]="!loginForm.controls.password.errors"
              >
                Please enter a password.
              </div>
            </div>
          </div>
          <br />
          <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-scale-multiple"
          >
            <p style="font-size: 20px; color: white">Loading...</p>
          </ngx-spinner>
          <button
            type="submit"
            id="button"
            class="btn btn-primary"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>

          &nbsp;
          <button id="button2" class="btn btn-primary" routerLink="/signup">
            Create Account
          </button>
        </div>
      </form>
      <!-- <button
            type="submit"
            class="btn btn-primary"
            routerLink="/signup"
          >
            Create Account
          </button> -->
    </div>
  </div>
</div>
